.addCommunity .dialog {
	width: 450px;
}

.row .col .input {
	height: 29px;
}

.select {
	width: 120px;
}

.addCommunity {
	position: relative;
}


.addCommunity .select {
	width: 100px;
}

.dialog .r3 .col input {
	width:35px;
}

.addCommunity .img-upload {
	float: left;
	width: 160px;
}

.addCommunity .img-box {
	width: 130px;
	height: 100px;
	padding: 3px 6px;
	margin: 11px 0 0 20px;
	position: relative;
	background: url(../img/type_img_box.png);
}

.addCommunity input {
	width: 80px;
	margin: auto;
	margin-left: 0.5px;
}

.addCommunity .row .col label {
	width:55px;
}

.addCommunity input[name=location],.addCommunity input[name=community] {
	width: 100px;
}

.addCommunity input[name=desc] {
	width: 430px;
}

.addCommunity input[name=builder],.addCommunity input[name=complete_time] {
	width: 100px;
}

.addSection .dialog {
	width: 450px;
}

.select[name=property_free_unit]  {
	width: 50px;
}

.select[name=property_free_unit] .droplist {
	width: 65px;
}

.select[name=property_free_unit] .droplist .item {
	padding: 6px 8px 6px 10px
}

.addCommunity label.c3,input.c3 {
	width:45px;
}

.addCommunity input.c2 {
	width:30px;
}

.editorWrapper {
	display: inline-block;
}

.save-btn {
	display: block;
	border: none;
	height: 35px;
	background: url(../img/type_btn_save.gif) -234px 0 no-repeat;
}

.save-btn:hover {
	background: url(../img/type_btn_save.gif) 0px 0 no-repeat;	
}

.save-btn:active {
	background: url(../img/type_btn_save.gif) -117px 0 no-repeat;	
}

.addCommunity .save-btn {
	position: absolute;
	bottom: 0px;
	right: 20px;
	width: 116px;
}